<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?" />
            <deny roles="customer" />
            <deny roles="datamanager" />
            <allow roles="sysmanager" />
        </authorization>
    </system.web>
</configuration>